<% provide(:title, "About Us") %>
<%
keywords %q(about)
%>

<div id="susnav"><%= render 'layouts/navbar2' %></div>
<div class="row">
	<section style="background-image: url('/seafood3.jpg'); background-size: cover;">
		
		<div class="container sections">
			<h2 class="sectionaboutpage">About Us</h2>
		</div>
	</section>
</div>

<div class="row" id="biorow" style="background-image: url('IMG00020-20090830-1140.jpg'); background-size: cover; background-position:center;">
	<div class="container" id="biocontainer">
		<div class="biobox">
			<h2 class="header">The Business</h2>		
			<p class="biography">George's Seafood is located in Norfolk, VA; a large military community and the largest naval base in the world. Yet, for George Georgiades, Norfolk was all about the fish. Born and raised here, he took a hobby of sport fishing and turned it into a commercial fishing operation. Norfolk borders the lower Chesapeake Bay and the Atlantic Ocean which provides access to a variety of migrating fish coming and going, domestic USA wild caught fish- George's specialty. Cape Henry and Cape Charles are close by as well, located by the 17 mile Chesapeake Bay Bridge Tunnel, a natural fish haven. </p>
		</div>
		<div class="biobox">
			<h2 class="header">History</h2>
			
			<p class="biography">George started this business 43 years ago; just two years out of high school. During those two years he worked on both commercial and sport fishing boats. George's affiliation with the local commercial and sport fisherman helped build this business. Also, having a father that was a Greek immigrant and local resturant purveyor attributed to his success. But more then anything, was sacrifice and hard work. </p>
			
			<div class="bioimage"><img src="Little George.jpg" alt="Young George with his father and a friend"></div>
			<p class="biography" style="padding-top: 2%;">For years George's Seafood was an operation that distributed to local restaurants and supermarkets. As time went on, local fisherman asked George to handle their product- primarily fresh fish. Packing and shipping to mostly the North, ie. Philadelphia, Boston, and New York. In time, business spread South and West- from Georgia and Florida to Illinois, Ohio and Indianapolis.</p>
		</div>
		<div class="biobox">
			<h2 class="header">The Future</h2>
			<p class="biography">The seafood industry has been through a lot of changes and there are more to come. Fortunately, the time invested into customer and vendor relationships over the years has built trust and history that has enabled George's Seafood thrive and survive.  George's dedication and love for this business has allowed him to adapt and succeed in today's challenges for small businesses and the ever-changing seafood industry. </p>
		</div>
			<div class="bioimage"><img src="BASS.jpg" alt="Two Fisherman, one a Bass up proudly"></div>
			<div class="row footertact">
			  <div class="col-md-6 col-sm-12 col-xs-12" id="footer">
				© 2014 George's Seafood, Inc.
			  </div>
			</div>
	</div>

</div>


