<% provide(:title, "Home") %>
<%
meta keywords: %q(seafood)
%>
<div class="row logo">
		<img src="GeorgesSeafood.png">
	</div>
<div class="row">
	<div id="carousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <!-- <ol class="carousel-indicators">
	    <li data-target="#carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel" data-slide-to="1"></li>
	    <li data-target="#carousel" data-slide-to="2"></li>
	  </ol> -->

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">

		<div id="sunset" class="item active"><%= image_tag "/sunset.JPG" %></div>

	  </div>

	  <!-- Controls -->
	  <!-- <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a> -->
	</div>
	
</div>
<div class="row nav">
	<%= render 'layouts/navbar' %>
</div>
<section class="fullimagefirst" style="background-image: url('/sustainable.jpg'); background-size:cover;">
	<div class="container sections">
		<a href="/sustainability"><h2 class="sectiontitle">Sustainable</h2></a>
		<p class="sectiondesc">You can't get more organic than straight from the sea.</p>
	</div>
</section>
<section class="fullimage" style="background-image: url('/OCTOBER.jpg'); background-size:cover;">
	<div class="container sections">
		<a href="/about"><h2 class="sectiontitle">Local</h2></a>
		<p class="sectiondesc">Operating from Hampton Roads for 43 years.</p>
	</div>
</section>
<section class="fullimage" style="background-image: url('/quality.jpg'); background-size:cover;">
	<div class="container sections">
		<a href="/products"><h2 class="sectiontitle">Fresh</h2></a>
		<p class="sectiondesc">Right off the boat.</p>
	</div>
</section>
<section class="fullimage" style="background-image: url('/seafood3.jpg'); background-size:cover;">
	<div class="container sections">
		<a href="/contact"><h2 class="sectiontitle">Contact Us</h2></a>
		<p class="sectiondesc">We're listening.</p>
	</div>
</section>
<div class="container">

	<div class="row footer">
		<b>© 2014 George's Seafood, Inc.</b>
	</div>
</div>
